* {
  font-size: 24px;
}

a {
  color: inherit;
}

#textarea {
  width: calc(100vw - 4em);
  height: calc(100vh - 2em);
  color: black;
  padding-left: 1em;
  padding-top: 0em;
  margin: none;
  border: none;
  outline: none;
  resize: none;
  background-color: #ffffff00;
  font-family: inherit;
}

.blur {
  filter: blur(7px);
}

button {
  text-align: left;
  font-family: inherit;
}

.sidebar {
  top: 0;
  left: 0;
  position: fixed;
  margin-top: 4vh;
  padding-top: 5px;
  padding-bottom: 6px;
  padding-right: 5px;
  outline: 2px solid black;
  background-color: #ffffff;
  visibility: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 10em;
  gap: 0.5em;
  animation-name: none;
  animation-duration: 0.1s;
}

.sidebar * {
  font-size: 16px;
}

.fontsidebar {
  top: 4.2em;
  left: 15.4em;
  position: fixed;
  margin-top: 4vh;
  padding: 1px;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-right: 5px;
  outline: 2px solid black;
  background-color: #ffffff;
  visibility: hidden;
}

#dropdown {
  background-color: #ffffff00;
  border: none;
  cursor: pointer;
  color: #000000;
  font-family: inherit;
  outline: none;
}

.dropdown {
  box-shadow: none;
}

.hoverchecker {
  top: 0;
  left: 0;
  width: 1.4vw;
  height: 13em;
  position: fixed;
  margin-top: 4vh;
}

.sidebutton {
  background-color: #ffffff00;
  border: none;
  cursor: pointer;
  color: #000000;
}

.divider {
  border-top: 2px solid #000000;
  width: 100%;
  margin-top: -0.4vh;
  margin-bottom: -0.4vh;
}

#madeby,
#coffee,
#text {
  cursor: auto;
}

#text {
  margin-top: -0.2vh;
  opacity: 80%;
}

.text {
  font-family: inherit;
  opacity: 80%;
}

.fontoptions {
  font-family: inherit;
}

@keyframes in {
  from {
    left: -17em;
    opacity: 0%;
  }

  to {
    left: 0em;
    opacity: 100%;
  }
}

@keyframes out {
  from {
    left: 0px;
  }

  to {
    left: -17em;
    opacity: 0;
  }
}

.sticky-note {
  position: absolute;
  resize: both;
  z-index: 9999;
  overflow-x: hidden;
  overflow-y: auto;
  min-width: 150px;
  min-height: 120px;
}

.sticky-header {
  padding: 6px 10px;
  height: 30px;
  cursor: move;
  display: flex;
  justify-content: right;
  align-items: right;
  text-align: right;
  z-index: 99999;
  position: absolute;
  width: 100%;
  top: -1rem;
  user-select: none; /* Prevent text selection on the header */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.sticky-close {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  position: absolute;
  top: 0.4rem;
  right: 0.8rem;
}

.sticky-content {
  width: calc(100% - 1rem);
  height: calc(100% - 1rem);
  border: none;
  padding: 8px;
  background: transparent;
  resize: none;
  outline: none;
  overflow: auto;
  position: absolute;
  top: 0;
}

::-webkit-scrollbar {
  display: none;
}
